.DS_Store
node_modules

# Build
build
src/libs
src/vendor
src/locale
src/locale-json
src/js/locales.js
src/js/locales-default-ui.js
src/print/strings.json
src/views/_icons.html

# Cordova/PhoneGap
phonegap