<div class="container" id="about" ng-swipe-left="back()" ng-swipe-right="back()">
    <div class="row">
        <div class="col-xs-12 text-center">

		    <h3><a href="http://hitchwiki.org/"><img src="assets/img/hitchwiki_logo.png" alt="Hitchwiki" class="img-responsive center-block"></a></h3>

        </div>
        <div class="col-xs-12 col-sm-6">

            <p class="lead text-center">Hitchhikers phrasebook for the road.</p>

            <table class="table">
              <tbody>
                <tr>
                  <th>Version</th>
                  <td>{{ ver }}</td>
                </tr>
                <tr>
                  <th>Updated</th>
                  <td>{{ day }}</td>
                </tr>
                <tr>
                  <th>Translations</th>
                  <td>{{ localesVer }}</td>
                </tr>
                <tr>
                  <th>Device</th>
                  <td>{{ device }}</td>
                </tr>
              </tbody>
            </table>

        </div>
        <div class="col-xs-12 col-sm-6 text-center">

                <p class="lead">Contact us if you would like to translate Phrasebook into your language.</p>

                <strong>Thanks for translators!</strong>
                <br><br>
                <small>Ron Tirillas, Bernhard Walzl, Jérôme Mével, Rene Rocker, Quitelost, Efren Faustino, Simona Sadzevičiūtė, 86energy, Vilius, Károly Ewokmaci, Lubo Kružliak, Robert Skrzypczyński, Yassin Ziani, Mihnea Avramescu, Raivis Kapilinskis, Mārtiņš Eniks, Gonçalo Pestana, Karol Yohan, Lucas Alexander Kock, Puneet Sahani, Platschi, Antòni El Gat &amp; Mikael Korpela.</small>

        </div>


    </div>
</div>