<div class="container" id="about" ng-swipe-left="back()" ng-swipe-right="back()">
    <div class="row">
        <div class="col-xs-12 text-center">

		    <h3><a href="http://hitchwiki.org/"><img src="assets/img/hitchwiki_logo.png" alt="Hitchwiki" class="img-responsive center-block"></a></h3>

        </div>
        <div class="col-xs-12 col-sm-6">

            <table class="table">
              <tbody>
                <tr>
                  <th>Version</th>
                  <td>{{ ver }}</td>
                </tr>
                <tr>
                  <th>Updated</th>
                  <td>{{ day }}</td>
                </tr>
                <tr>
                  <th>Translations</th>
                  <td>{{ localesVer }}</td>
                </tr>
                <tr>
                  <th>Device</th>
                  <td>{{ device }}</td>
                </tr>
              </tbody>
            </table>

        </div>
        <div class="col-xs-12 col-sm-6 text-center">

            <strong>Thanks for translators!</strong>
            <br><br>
            <small>Ron Tirillas, Bernhard Walzl, Jérôme Mével, Rene Rocker, Quitelost, Efren Faustino, Simona Sadzevičiūtė, 86energy, Vilius, Károly Ewokmaci, Lubo Kružliak, Robert Skrzypczyński, Yassin Ziani, Mihnea Avramescu, Raivis Kapilinskis, Mārtiņš Eniks, Gonçalo Pestana, Karol Yohan, Lucas Alexander Kock, Puneet Sahani, Platschi, Antòni El Gat &amp; Mikael Korpela.</small>

            <br><br>

            <small class="text-muted">Translations are licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike</a> and program code under MIT lisence. <a href="https://github.com/Hitchwiki/Phrasebook/blob/master/LICENSE">Read more.</a></small>

        </div>

    </div>
</div>