

#primary-menu {
    float: right;
}
#secondary-menu,
#language-menu {
    float: left;
}
#language-menu {
    height: @navbar-height;
    overflow: hidden;
    a,
    .sep {
        display: inline-block;
        float: left;
        height: @navbar-height;
        text-align: center;
        line-height: @navbar-height;
        padding-left: 15px;
        padding-right: 15px;
        color: @navbar-default-color;
        @media only screen and (max-width: @screen-xs-max) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    a {
        font-size: 16px;
        text-decoration: none;
        @media only screen and (max-width: @screen-xs-max) {
            font-size: 12px;
        }
    }
}

.dropdown-menu > li > a {
    // Also when there's no href
    cursor: pointer;

    // Bigger the Better for mobile
    padding-top: @padding-base-horizontal;
    padding-bottom: @padding-base-horizontal;
    font-size: @font-size-large;

}


.flag {
    margin-right: 5px;
    border-radius: 9px;
    .square(18px);
    .box-shadow(0 0 3px rgba(0,0,0,0.1));
}

.audio-play {
    color: @gray-light;
    cursor: pointer;
    &:hover,
    &:active {
        color: @gray;
    }
    &.playing {
        color: #000;
    }
}

#search-form {
    margin-bottom: 3px;
}

/* Protect content from header */
#about,
#translate,
#translationSet,
#languageList {
    padding-top: (@navbar-height + 7px);
}

/* No space around lists on small screens */
#translationSet,
#languageList {
    @media only screen and (max-width: @screen-xs-max) {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Users can't choose texts from these blocks
 * (Usually they're clicking these a lot and accidentally choose stuff)
 */
#translationSet,
#languageList,
.navbar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#translationSet {

    .translation-from {
        margin-bottom: 10px;
    }
    .translation-to {

    }
    .active {
        .translation-from {
            border-bottom: 2px solid #fff;
            padding-bottom: 10px;
        }
    }

}

.translation-category {
    .list-group-item-text {
        margin-left: 3.5em;
    }
    .icon {
        color: @gray-light;
        font-size: 30px;
        float: left;
        margin-right: .4em;
        margin-top: .1em;
    }
}

.translation-key {
    .transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s);
}
.list-group-item.active {
        padding-bottom: 20px;
        padding-top: 20px;
        margin-right: -10px;
        margin-left: -10px;
        @media only screen and (max-width: @screen-xs-max) {
            margin-right: 0;
            margin-left: 0;
        }
        h4 {
            font-size: 33px;
            line-height: 36px;
        }
}


/*
 * RTL support
 */
.rtl {
    #primary-menu {
        float: left;
    }
    #secondary-menu,
    #language-menu {
        float: right;
    }
    #language-menu {
        .translateFrom {
            float: right;
        }
        .translateTo {
            float: left;
        }
    }
    .flag {
        margin-left: 5px;
        margin-right: 0;
        float: right;
    }
    #languageList {
        text-align: right;
    }
}


/*
 * Remove 300ms delay on tapping with mobile browsers
 * http://updates.html5rocks.com/2013/12/300ms-tap-delay-gone-away
 */
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
