@fa-font-path:              "../fonts";

@navbar-default-color:      #9c6900;
@navbar-default-bg:         #ecc74b;
@navbar-default-border:     #9c6a00; /*darken(@navbar-default-bg, 6.5%);*/

@border-radius-base:        0;
@border-radius-large:       0;
@border-radius-small:       0;

@body-bg:                   #eee;

@grid-float-breakpoint:     0; // Never collapse nav menu
