<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hitchwiki.phrasebook" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Phrasebook</name>
    <description>
        Hitchwiki Phrasebook for mobile.
    </description>
    <author email="contact@hitchwiki.org" href="http://hitchwiki.org">
        Hitchwiki
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
