<ul class="list-unstyled">
    <li><strong>Finnish:</strong> Mikael Korpela</li>
    <li><strong>Lithuanian:</strong> Simona Sadzevičiūtė, Vilius, Vladas</li>
    <li><strong>Spanish:</strong> Ron Tirillas</li>
    <li><strong>Dutch:</strong> <i>Platschi</i></li>
    <li><strong>Slovak:</strong> Lubo Kružliak</li>
    <li><strong>Polish:</strong> Robert Skrzypczyński, <i>86energy</i></li>
    <li><strong>Latvian:</strong> Mārtiņš Eniks, Raivis Kapilinskis</li>
    <li><strong>French:</strong> Jérôme Mével, <i>remigr</i></li>
    <li><strong>German:</strong> Bernhard Walzl, Rene Rocker</li>
    <li><strong>Turkish:</strong> <i>Quitelost</i></li>
    <li><strong>Hungarian:</strong> Károly Ewokmaci</li>
    <li><strong>Portuguese:</strong> Gonçalo Pestanam, Karol Yohan</li>
    <li><strong>Norwegian (bokmål):</strong> Karol Yohan</li>
    <li><strong>Italian:</strong> Yassin Ziani</li>
    <li><strong>Romanian:</strong> Mihnea Avramescu, Anca-Maria Bucur</li>
    <li><strong>Danish:</strong> Lucas Alexander Kock</li>
    <li><strong>Catalan:</strong> Antòni El Gat</li>
    <li><strong>Bulgarian:</strong> Alex Todorov</li>
    <li><strong>Indonesia bahasa:</strong> Rizal Rakhmat D</li>
    <li><strong>Serbian:</strong> Ана Максимовић</li>
</ul>
<p>...and many other anonymous contributors!</p>