<div class="container" id="about" ng-swipe-left="back()" ng-swipe-right="back()">
    <div class="row">
        <div class="col-xs-12 text-center">

		    <h3><a href="http://hitchwiki.org/"><img src="assets/img/hitchwiki.png" alt="Hitchwiki" class="img-responsive center-block"></a></h3>

        </div>
        <div class="col-xs-12 col-sm-6">

            <h3>Download app from —</h3>
            <div class="btn-group btn-group-justified">
                <a href="https://itunes.apple.com/us/app/hitchwiki.org-phrasebook/id679023494?ls=1&mt=8" class="btn btn-default"><i class="fa fa-lg fa-fw fa-apple"></i> App Store</a>
                <a href="https://play.google.com/store/apps/details?id=com.hitchwiki.phrasebook" class="btn btn-default"><i class="fa fa-lg fa-fw fa-android"></i> Google Play</a>
                <a href="#" class="btn btn-default"><i class="fa fa-lg fa-fw fa-android"></i> Other Android stores</a>
            </div>
            <h3>Other Hitchwiki apps —</h3>
            <div class="btn-group">
                <a href="https://play.google.com/store/search?q=hitchwiki" class="btn btn-default"><i class="fa fa-lg fa-android"></i> Google Play</a><br>
            </div>

            <p>
            <table class="table">
              <tbody>
                <tr>
                  <th>Version</th>
                  <td>{{ ver }}</td>
                </tr>
                <tr>
                  <th>Updated</th>
                  <td>{{ day }}</td>
                </tr>
                <tr>
                  <th>Translations</th>
                  <td>{{ localesVer }}</td>
                </tr>
                <tr>
                  <th>Device</th>
                  <td>{{ device }}</td>
                </tr>
              </tbody>
            </table>
            </p>

        </div>
        <div class="col-xs-12 col-sm-6">

            <h3>Thanks for translators!</h3>
            <small><!-- @include ../_translators.html --></small>

        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Open source</h3>
            <p><a href="http://github.com/hitchwiki/phrasebook/"><i class="fa fa-lg fa-github"></i> Grab the code from Github</a></p>

            <h4>License</h4>
            <p>Translations are licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike</a> and program code under MIT lisence.</p>
            <pre class="pre-scrollable">
<!-- @include ../../../LICENSE -->
            </pre>
        </div>
    </div>
</div>