<div class="container" id="languageList" ng-show="!localeFrom">
    <h3 class="text-center">{{ UI('translate_from') }}</h3>
    <div class="list-group" id="chooseLanguage" ng-show="!localeFrom">
        <a ng-repeat="locale in locales | orderBy:name" href="#" class="list-group-item" ng-click="setLang($event, locale.code, 'From')">
            <img ng-src="{{flag(locale.code)}}" class="flag"> {{ locale.name }}
        </a>
    </div>
</div>

<div class="container" id="languageList" ng-show="!localeTo && localeFrom != false">
    <h3 class="text-center">{{ UI('translate_to') }}</h3>
    <div class="list-group" id="chooseLanguage" ng-show="localeTo == false">
        <a ng-repeat="locale in locales | orderBy:'name'" href="#" class="list-group-item" ng-click="setLang($event, locale.code, 'To')">
            <img ng-src="{{flag(locale.code)}}" class="flag"> {{ locale.name }}
        </a>
    </div>
</div>

<div class="container" id="translationSet" ng-hide="!localeFrom || !localeTo">
    <form id="search-form">
        <input type="search" id="search" ng-model="query" placeholder="Search..." class="form-control input-lg">
    </form>
    <div class="list-group">

        <a ng-show="selectedCategory == false" ng-href="/translate/{{ localeFrom }}/{{ localeTo }}/{{ category[0] }}" class="list-group-item" ng-repeat="category in localesStructure" ng-click="selectCategory($event, $index)">
            <i ng-class="icon icon-cat-{{ category[0] }}"></i>
            <h4 class="list-group-item-heading">
                {{ localeFromStrings.categories[category[0]] }}
            </h4>
            <p class="list-group-item-text">
                {{ localeToStrings.categories[category[0]] }}
            </p>
        </a>

        <a ng-show="selectedCategory != false" ng-click="back($event)" ng-href="/translate/{{ localeFrom }}/{{ localeTo }}/" class="list-group-item"><i class="icon-left"></i> {{ UI('back') }}</a>

        <a ng-show="selectedCategory != false" ng-href="/translate/{{ localeFrom }}/{{ localeTo }}/{{ selectedCategory }}/{{ key }}" class="list-group-item" ng-repeat="key in localesStructure[selectedCategory][1]" ng-click="selectTranslationString($event, key)">
            <h4 class="list-group-item-heading translation-from">
                {{ localeFromStrings.phrasebook[key] }}
                <i class="audio-play icon-volume-off" ng-show="audio && selectedTranslation == key" ng-click="play(key, localeFrom)"></i>
            </h4>
            <h4 class="list-group-item-heading translation-to">
                {{ localeToStrings.phrasebook[key] }}
                <i class="audio-play audio icon-volume-off" ng-show="audio" ng-click="play(key, localeTo)"></i>
            </h4>
        </a>

        <a ng-show="selectedCategory != false" ng-click="back($event)" ng-href="/translate/{{ localeFrom }}/{{ localeTo }}/" class="list-group-item"><i class="icon-left"></i> {{ UI('back') }}</a>

    </div>
</div>