<div class="container" id="translate" ng-swipe-left="back()" ng-swipe-right="back()">
    <div class="row">
        <div class="col-xs-12 text-center">

            <h3>{{ UI('help_translating') }}</h3>

            <p>You can translate Phrasebook by using our <a href="http://hitchwiki.org/translate/projects/phrasebook">translation tool</a>. Just login with your <a href="http://hitchwiki.org">Hitchwiki</a> username and password.</p>

            <p><a href="http://hitchwiki.org/contact">Contact us</a> if any trouble or if your language is missing from the list.</p>

            <hr/>

            <h4>Thanks for translators!</h4>
            <p><!-- @include ../_translators.html --></p>

    </div>
</div>