<div class="container" id="translate">
    <div class="row">
        <div class="col-xs-12 text-center">

            <h3>{{ UI.help_translating}}</h3>

            <p><a href="http://hitchwiki.org/contact">{{ UI.contact_us}}</a> first to get translator account and instructions.</p>
            <p>Then head over to <a href="http://hitchwiki.org/translate/projects/phrasebook">translation tool</a>.</p>

            <hr/>

            <h4>Thanks for translators!</h4>
            <p><!-- @include ../translators.html --></p>

    </div>
</div>